<html>

  <body>



<div style="margin-top:100px"class="container">
  <form class="form-horizontal" action="/supplier/add" method="post">

    <div style="width:45%;float:left;margin:5" class="">
      <input class="form-control" type="string" name="name" placeholder="Nama Supplier"><br>
      <input class="form-control" type="string" name="kota" placeholder="Kota"><br>
      <button type="submit" name="submit"></button>
    </div>
  </form>
</div>

</body>
</html>
